attrdict3>=2.0.2
PyInstaller>=5.9.0
httplib2>=0.21.0
pyinstaller-versionfile>=2.1.1
platformdirs==3.6.0
requests>=2.28.1
darkdetect>=0.7.1
markdown>=3.4.1
pyperclip>=1.8.2
protobuf~=6.33.5; python_version == "3.9"
protobuf~=4.25.8; python_version == "3.8"
six>=1.16.0
bsdiff4>=1.1.5
lz4>=4.3.2
psutil>=5.9.5
json5>=0.9.14
bs4>=0.0.1
chardet>=5.2.0
cryptography>=42.0.5
rsa>=4.9
polib>=1.1.1
# Use pre-built wheels for wxPython
--find-links https://wxpython.org/Phoenix/snapshot-builds/
--find-links https://extras.wxpython.org/wxPython4/extras/linux/gtk3/ubuntu-20.04/
--find-links https://extras.wxpython.org/wxPython4/extras/linux/gtk3/ubuntu-22.04/
--find-links https://extras.wxpython.org/wxPython4/extras/linux/gtk3/ubuntu-24.04/
wxPython==4.2.2
# wxPython==4.2.1; platform_system == "Linux"
# wxPython>=4.2.1; platform_system != "Linux"
