name: Build for All platforms

env:
  ACTIONS_RUNTIME_TOKEN: ${{ secrets.GITHUB_TOKEN }}

# Controls when the workflow will run
on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
    - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      tags:
        description: 'Build tags'

jobs:
  build_windows:
    if: github.actor == 'badabing2005'
    # https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Cache virtual environment
        uses: actions/cache@v2
        with:
          path: |
            ~/.cache/pip
            ~/myenv
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
          cache: pip

      - name: Create virtual environment
        run: python -m venv myenv
        shell: powershell

      - name: Activate virtual environment
        run: .\myenv\Scripts\Activate.ps1
        shell: powershell

      - name: Install wxPython and build
        run: |
          python --version
          pip install -U six wheel setuptools
          pip install -U -f https://extras.wxpython.org/wxPython4/extras/4.2.1 wxPython
        shell: powershell

      - name: Install requirements
        run: pip install -r requirements.txt

      - name: List modules and their versions
        run: pip freeze

      - name: Build application
        run: .\build.bat

      - name: List contents of dist directory
        run: ls dist

      # Upload artifacts Windows
      - name: Upload Windows Artifact
        uses: actions/upload-artifact@v3
        id: upload_artifacts_windows
        with:
          name: PixelFlasher.exe
          path: dist/PixelFlasher.exe

  build_windows_2019:
    if: github.actor == 'badabing2005'
    # https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners
    runs-on: windows-2019

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Cache virtual environment
        uses: actions/cache@v2
        with:
          path: |
            ~/.cache/pip
            ~/myenv
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.8'
          cache: pip

      - name: Create virtual environment
        run: python -m venv myenv
        shell: powershell

      - name: Activate virtual environment
        run: .\myenv\Scripts\Activate.ps1
        shell: powershell

      - name: Install wxPython and build
        run: |
          python --version
          pip install -U six wheel setuptools
          pip install -U -f https://extras.wxpython.org/wxPython4/extras/4.2.1 wxPython
        shell: powershell

      - name: Install requirements
        run: pip install -r requirements.txt

      - name: List modules and their versions
        run: pip freeze

      - name: Build application
        run: .\build.bat

      - name: List contents of dist directory
        run: ls dist

      # Upload artifacts Windows 2019
      - name: Upload Windows 2019 Artifact
        uses: actions/upload-artifact@v3
        id: upload_artifacts_windows_2019
        with:
          name: PixelFlasher_Win_2019.exe
          path: dist/PixelFlasher.exe

  build_ubuntu_20_04:
    if: github.actor == 'badabing2005'
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Cache virtual environment
        uses: actions/cache@v2
        with:
          path: |
            ~/.cache/pip
            ~/myenv
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}

      - name: Set up Python
        run: |
          sudo apt update
          sudo apt install software-properties-common -y
          sudo add-apt-repository ppa:deadsnakes/ppa -y
          sudo apt update
          sudo apt install -y python3.11
          sudo apt install -y python3.11-venv
          sudo apt install -y python3-pip
          python3.11 --version

      - name: Install wxPython prerequisites
        run: |
          sudo apt-get update
          sudo apt-get install -y python3.11-dev
          sudo apt-get install -y libgtk-3-dev
          sudo apt-get install -y libunwind-dev
          sudo apt-get install -y libgstreamer1.0-dev
          sudo apt-get install -y gstreamer1.0-plugins-base
          sudo apt-get install -y freeglut3-dev
          sudo apt-get install -y libwebkit2gtk-4.0-dev
          sudo apt-get install -y libjpeg-dev
          sudo apt-get install -y libpng-dev
          sudo apt-get install -y libtiff-dev
          sudo apt-get install -y libsdl2-dev
          sudo apt-get install -y libnotify-dev
          sudo apt-get install -y libsm-dev

      - name: Create virtual environment, install dependencies, and build
        run: |
          python3.11 -m venv myenv
          . myenv/bin/activate
          python --version
          pip install -U pip
          pip install -U six wheel setuptools
          pip install -U -f https://extras.wxpython.org/wxPython4/extras/linux/gtk3/ubuntu-20.04 wxPython
          pip install -r requirements.txt
          python --version && pip freeze
          ./build.sh
          ls dist
        shell: bash

      # Upload artifacts Ubuntu 20.04
      - name: Upload Ubuntu 20.04 Artifact
        uses: actions/upload-artifact@v3
        id: upload_artifacts_ubuntu_20_04
        with:
          name: PixelFlasher_Ubuntu_20_04
          path: dist/PixelFlasher

  build_ubuntu_22_04:
    if: github.actor == 'badabing2005'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Cache virtual environment
        uses: actions/cache@v2
        with:
          path: |
            ~/.cache/pip
            ~/myenv
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}

      - name: Set up Python
        run: |
          sudo apt update
          sudo apt install software-properties-common -y
          sudo add-apt-repository ppa:deadsnakes/ppa -y
          sudo apt update
          sudo apt install -y python3.11
          sudo apt install -y python3.11-venv
          sudo apt install -y python3-pip
          python3.11 --version

      - name: Install wxPython prerequisites
        run: |
          sudo apt-get update
          sudo apt-get install -y python3.11-dev
          sudo apt-get install -y libgtk-3-dev
          sudo apt-get install -y libunwind-dev
          sudo apt-get install -y libgstreamer1.0-dev
          sudo apt-get install -y gstreamer1.0-plugins-base
          sudo apt-get install -y freeglut3-dev
          sudo apt-get install -y libwebkit2gtk-4.0-dev
          sudo apt-get install -y libjpeg-dev
          sudo apt-get install -y libpng-dev
          sudo apt-get install -y libtiff-dev
          sudo apt-get install -y libsdl2-dev
          sudo apt-get install -y libnotify-dev
          sudo apt-get install -y libsm-dev

      - name: Create virtual environment, install dependencies, and build
        run: |
          python3.11 -m venv myenv
          . myenv/bin/activate
          python --version
          pip install -U pip
          pip install -U six wheel setuptools
          pip install -U -f https://extras.wxpython.org/wxPython4/extras/linux/gtk3/ubuntu-22.04 wxPython
          pip install -r requirements.txt
          python --version && pip freeze
          ./build.sh
          ls dist
        shell: bash

      # Upload artifacts Ubuntu 22.04
      - name: Upload Ubuntu 22.04 Artifact
        uses: actions/upload-artifact@v3
        id: upload_artifacts_ubuntu_22_04
        with:
          name: PixelFlasher_Ubuntu_22_04
          path: dist/PixelFlasher

  build_mac_11:
    if: github.actor == 'badabing2005'
    # runs-on: macos-latest
    runs-on: macos-11

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Cache virtual environment
        uses: actions/cache@v2
        with:
          path: |
            ~/.cache/pip
            ~/myenv
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}

      - name: List Cellar directory Again
        run: |
          ls /usr/local/Cellar

      - name: Install wxPython
        run: brew install wxpython

      - name: Install node graphicsmagick imagemagick
        run: brew install node graphicsmagick imagemagick

      - name: Install create-dmg
        run: npm install --global create-dmg

      - name: Add Python 3.11 to PATH
        run: export PATH=/usr/local/Cellar/python@3.11/bin:$PATH

      - name: Create virtual environment
        run: python3.11 -m venv myenv
        shell: bash

      - name: Activate virtual environment
        run: source myenv/bin/activate
        shell: bash

      - name: Install requirements
        run: python3.11 -m pip install -r requirements.txt

      - name: List modules and their versions
        run: python3.11 -m pip freeze

      - name: Build application
        run: ./build.sh

      - name: List contents of dist directory
        run: ls dist

      # Upload artifacts Mac-OS
      - name: Upload Mac-OS 11 Artifact
        uses: actions/upload-artifact@v3
        id: upload_artifact_macos_11
        with:
          name: PixelFlasher.dmg
          path: dist/PixelFlasher.dmg

  deploy:
    if: github.actor == 'badabing2005'
    needs: [build_windows, build_ubuntu_20_04, build_ubuntu_22_04, build_mac_11]

    runs-on: ubuntu-latest

    steps:
      # Create a release
      - name: Create Release
        id: create_release
        # uses: actions/create-release@v1
        uses: ncipollo/release-action@v1.11.1
        # env:
          # GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ github.ref }}
          # release_name: Release ${{ github.ref }}
          # name: Release ${{ github.ref }}
          name: Release ${{ github.ref }}
          allowUpdates: "true"
          draft: false
          prerelease: true

      # Download the Windows artifact from the build_windows job
      - name: Download Windows Artifact
        uses: actions/download-artifact@v3
        with:
          name: PixelFlasher.exe
          path: dist-windows
        continue-on-error: true

      # Download the Windows-2019 artifact from the build_windows_2019 job
      - name: Download Windows-2019 Artifact
        uses: actions/download-artifact@v3
        with:
          name: PixelFlasher_Win_2019.exe
          path: dist-windows-2019
        continue-on-error: true

      # Download the Ubuntu_20_04 artifact from the build_ubuntu_20_04 job
      - name: Download Ubuntu_20_04 Artifact
        uses: actions/download-artifact@v3
        with:
          name: PixelFlasher_Ubuntu_20_04
          path: dist-ubuntu_20_04
        continue-on-error: true

      # Download the Ubuntu_22_04 artifact from the build_ubuntu_22_04 job
      - name: Download Ubuntu_22_04 Artifact
        uses: actions/download-artifact@v3
        with:
          name: PixelFlasher_Ubuntu_22_04
          path: dist-ubuntu_22_04
        continue-on-error: true

      # Download the Mac-OS artifacts from the build_mac_11 job
      - name: Download Mac-OS Artifacts
        uses: actions/download-artifact@v3
        with:
          name: PixelFlasher.dmg
          path: dist-mac_11
        continue-on-error: true

      # List the artifacts downloaded
      - name: List contents of dist directory
        run: ls ${{ github.workspace }}/dist*

      # Upload the Windows artifact to release
      - name: Upload Windows Artifact to release
        uses: shogo82148/actions-upload-release-asset@v1
        # uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: dist-windows/PixelFlasher.exe
          asset_name: PixelFlasher.exe
          asset_content_type: application/zip
          # asset_content_type: application/octet-stream
        continue-on-error: true

      # Upload the Windows 2019 artifact to release
      - name: Upload Windows 2019 Artifact to release
        uses: shogo82148/actions-upload-release-asset@v1
        # uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: dist-windows-2019/PixelFlasher.exe
          asset_name: PixelFlasher_Win_2019.exe
          asset_content_type: application/zip
          # asset_content_type: application/octet-stream
        continue-on-error: true

      # Upload the Ubuntu 20.04 artifact to release
      - name: Upload Ubuntu 20.04 Artifact to release
        uses: shogo82148/actions-upload-release-asset@v1
        # uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: dist-ubuntu_20_04/PixelFlasher
          asset_name: PixelFlasher_Ubuntu_20_04
          asset_content_type: application/zip
        continue-on-error: true

      # Upload the Ubuntu 22.04 artifact to release
      - name: Upload Ubuntu 22.04 Artifact to release
        uses: shogo82148/actions-upload-release-asset@v1
        # uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: dist-ubuntu_22_04/PixelFlasher
          asset_name: PixelFlasher_Ubuntu_22_04
          asset_content_type: application/zip
        continue-on-error: true

      # Upload the Mac-OS 11 artifact to release
      - name: Upload Mac-OS 11 Artifacts to release
        uses: shogo82148/actions-upload-release-asset@v1
        # uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: dist-mac_11/PixelFlasher.dmg
          asset_name: PixelFlasher.dmg
          asset_content_type: application/zip
        continue-on-error: true

      # Generate SHA-256 checksums for each artifact
      - name: Generate SHA-256 checksums
        run: |
          cd ${{ github.workspace }}/dist-windows
          sha256sum PixelFlasher.exe > PixelFlasher.exe.sha256
          cd ${{ github.workspace }}/dist-windows-2019
          sha256sum PixelFlasher_Win_2019.exe > PixelFlasher_Win_2019.exe.sha256
          cd ${{ github.workspace }}/dist-ubuntu_20_04
          sha256sum PixelFlasher > PixelFlasher_Ubuntu_20_04.sha256
          cd ${{ github.workspace }}/dist-ubuntu_22_04
          sha256sum PixelFlasher > PixelFlasher_Ubuntu_22_04.sha256
          cd ${{ github.workspace }}/dist-mac_11
          sha256sum PixelFlasher.dmg > PixelFlasher.dmg.sha256
        continue-on-error: true

      # Upload the generated SHA-256 checksums as artifacts
      - name: Upload SHA-256 checksums
        uses: actions/upload-artifact@v3
        with:
          name: checksums
          path: ${{ github.workspace }}/dist*/**/*.sha256
        continue-on-error: true
